# Autogen
CT_CONFIGURE_has_xz=y
CT_CONFIGURE_has_svn=y
CT_MODULES=y

# Paths and misc options
CT_EXPERIMENTAL=y
CT_SRC_REFERENCE_DATETIME=""

# Paths
CT_LOCAL_TARBALLS_DIR="${HOME}/src"
CT_SAVE_TARBALLS=y
CT_CUSTOM_LOCATION_ROOT_DIR=""
CT_WORK_DIR="${CT_TOP_DIR}/.build"
#CT_PREFIX_DIR="${HOME}/x-tools/${CT_TARGET}"
#CT_INSTALL_DIR="${CT_PREFIX_DIR}"
CT_RM_RF_PREFIX_DIR=y
CT_REMOVE_DOCS=y
CT_INSTALL_DIR_RO=y
CT_STRIP_ALL_TOOLCHAIN_EXECUTABLES=y

# Downloading
CT_CONNECT_TIMEOUT=10

# Extracting
CT_OVERIDE_CONFIG_GUESS_SUB=y
CT_PATCH_BUNDLED_LOCAL=y
CT_PATCH_ORDER="bundled,local"
CT_PATCH_USE_LOCAL=y
CT_LOCAL_PATCH_DIR="${CT_TOP_DIR}/patches"

# Build behavior
CT_PARALLEL_JOBS=0
CT_PARALLEL_JOBS_OUTPUT_SYNC=""
CT_LOAD=""
CT_USE_PIPES=y
CT_EXTRA_CFLAGS_FOR_BUILD=""
CT_EXTRA_LDFLAGS_FOR_BUILD=""
CT_EXTRA_CFLAGS_FOR_HOST=""
CT_EXTRA_LDFLAGS_FOR_HOST=""
CT_CONFIG_SHELL_BASH=y
CT_CONFIG_SHELL="${bash}"

# Logging
CT_LOG_EXTRA=y
CT_LOG_LEVEL_MAX="EXTRA"
CT_LOG_PROGRESS_BAR=y
CT_LOG_TO_FILE=y
CT_LOG_FILE_COMPRESS=y

# Target options
CT_ARCH="powerpc"
CT_ARCH_SUPPORTS_32=y
CT_ARCH_SUPPORTS_64=y
CT_ARCH_SUPPORTS_WITH_ABI=y
CT_ARCH_SUPPORTS_WITH_CPU=y
CT_ARCH_SUPPORTS_WITH_TUNE=y
CT_ARCH_SUPPORTS_WITH_FLOAT=y
CT_ARCH_DEFAULT_32=y
CT_ARCH_ABI=""
CT_ARCH_CPU=""
CT_ARCH_TUNE=""
CT_ARCH_64=y
CT_ARCH_BITNESS=64
CT_ARCH_FLOAT_HW=y
CT_TARGET_CFLAGS=""
CT_TARGET_LDFLAGS=""
CT_ARCH_powerpc=y
CT_ARCH_blackfin_AVAILABLE=y
CT_ARCH_microblaze_AVAILABLE=y
CT_ARCH_alpha_AVAILABLE=y
CT_ARCH_m68k_AVAILABLE=y
CT_ARCH_s390_AVAILABLE=y
CT_ARCH_powerpc_AVAILABLE=y
CT_ARCH_sparc_AVAILABLE=y
CT_ARCH_mips_AVAILABLE=y
CT_ARCH_avr32_AVAILABLE=y
CT_ARCH_sh_AVAILABLE=y
CT_ARCH_x86_AVAILABLE=y
CT_ARCH_arm_AVAILABLE=y
CT_ARCH_SUFFIX=""

# Generic target options
CT_ARCH_USE_MMU=y

# Target optimisations
CT_ARCH_FLOAT="hard"

# powerpc other options
CT_ARCH_powerpc_ABI=""
CT_ARCH_powerpc_ABI_DEFAULT=y

# General toolchain options
CT_FORCE_SYSROOT=y
CT_USE_SYSROOT=y
CT_SYSROOT_NAME="sysroot"
CT_SYSROOT_DIR_PREFIX=""
CT_WANTS_STATIC_LINK=y
CT_TOOLCHAIN_PKGVERSION=""
CT_TOOLCHAIN_BUGURL=""

# Tuple completion and aliasing
CT_TARGET_VENDOR="ps3"
CT_TARGET_ALIAS_SED_EXPR=""
CT_TARGET_ALIAS=""

# Toolchain type
CT_CROSS=y
CT_TOOLCHAIN_TYPE="cross"

# Build system
CT_BUILD=""
CT_BUILD_PREFIX=""
CT_BUILD_SUFFIX=""

# Operating System
CT_BARE_METAL=y
CT_KERNEL="bare-metal"
CT_KERNEL_bare_metal=y
CT_KERNEL_linux_AVAILABLE=y
CT_KERNEL_windows_AVAILABLE=y
CT_KERNEL_darwin_AVAILABLE=y
CT_KERNEL_bare_metal_AVAILABLE=y

# Binary utilities
CT_ARCH_BINFMT_ELF=y
CT_BINUTILS="binutils"
CT_BINUTILS_binutils=y
CT_BINUTILS_VERSION="2.24"

# GNU binutils
CT_BINUTILS_V_2_24=y
CT_BINUTILS_2_24_or_later=y
CT_BINUTILS_2_23_or_later=y
CT_BINUTILS_2_22_or_later=y
CT_BINUTILS_2_21_or_later=y
CT_BINUTILS_2_20_or_later=y
CT_BINUTILS_2_19_or_later=y
CT_BINUTILS_2_18_or_later=y
CT_BINUTILS_HAS_HASH_STYLE=y
CT_BINUTILS_HAS_GOLD=n
CT_BINUTILS_HAS_PLUGINS=y
CT_BINUTILS_HAS_PKGVERSION_BUGURL=y
CT_BINUTILS_FORCE_LD_BFD=y
CT_BINUTILS_LINKER_LD=y
CT_BINUTILS_LINKERS_LIST="ld"
CT_BINUTILS_LINKER_DEFAULT="bfd"
CT_BINUTILS_EXTRA_CONFIG_ARRAY="--enable-64-bit-bfd"

# C compiler
CT_CC="gcc"
CT_CC_CORE_PASSES_NEEDED=y
CT_CC_gcc=y
CT_CC_GCC_V_4_8_2=y
CT_CC_GCC_4_2_or_later=y
CT_CC_GCC_4_3_or_later=y
CT_CC_GCC_4_4_or_later=y
CT_CC_GCC_4_5_or_later=y
CT_CC_GCC_4_6_or_later=y
CT_CC_GCC_4_7_or_later=y
CT_CC_GCC_4_8=y
CT_CC_GCC_4_8_or_later=y
CT_CC_GCC_HAS_GRAPHITE=y
CT_CC_GCC_USE_GRAPHITE=y
CT_CC_GCC_HAS_LTO=y
CT_CC_GCC_USE_LTO=y
CT_CC_GCC_HAS_PKGVERSION_BUGURL=y
CT_CC_GCC_HAS_BUILD_ID=y
CT_CC_GCC_HAS_LNK_HASH_STYLE=y
CT_CC_GCC_USE_GMP_MPFR=y
CT_CC_GCC_USE_MPC=y
CT_CC_GCC_HAS_LIBQUADMATH=y
CT_CC_GCC_VERSION="4.8.2"
CT_CC_GCC_ENABLE_CXX_FLAGS=""
CT_CC_GCC_CORE_EXTRA_CONFIG_ARRAY=""
CT_CC_GCC_STATIC_LIBSTDCXX=y

# Settings for libraries running on target
CT_CC_GCC_ENABLE_TARGET_OPTSPACE=y

# Misc. obscure options.
CT_CC_GCC_LDBL_128=m
CT_CC_GCC_LNK_HASH_STYLE_DEFAULT=y
CT_CC_GCC_LNK_HASH_STYLE=""
CT_CC_SUPPORT_CXX=y
CT_CC_SUPPORT_FORTRAN=y
CT_CC_SUPPORT_JAVA=y
CT_CC_SUPPORT_ADA=y
CT_CC_SUPPORT_OBJC=y
CT_CC_SUPPORT_OBJCXX=y
CT_CC_SUPPORT_GOLANG=y

# Additional supported languages:
CT_CC_LANG_CXX=y

# C-library
CT_LIBC="newlib"
CT_LIBC_VERSION="2.0.0"
CT_LIBC_newlib=y
CT_LIBC_eglibc_AVAILABLE=y
CT_LIBC_uClibc_AVAILABLE=y
CT_LIBC_newlib_AVAILABLE=y
CT_LIBC_NEWLIB_V_2_0_0=y 

# Architecture specific options
CT_LIBC_glibc_AVAILABLE=y
CT_LIBC_mingw_AVAILABLE=y
CT_LIBC_none_AVAILABLE=y
CT_LIBC_SUPPORT_THREADS_NONE=y
CT_THREADS="none"

# Common C library options
CT_THREADS_NONE=y

# newlib other options
CT_LIBC_NEWLIB_ENABLE_TARGET_OPTSPACE=y
CT_LIBC_NEWLIB_EXTRA_CONFIG_ARRAY=""

# Debug facilities
CT_DEBUG_gdb=n

# Companion libraries
CT_COMPLIBS_NEEDED=y
CT_GMP_NEEDED=y
CT_MPFR_NEEDED=y
CT_ISL_NEEDED=y
CT_CLOOG_NEEDED=y
CT_MPC_NEEDED=y
CT_COMPLIBS=y
CT_GMP=y
CT_MPFR=y
CT_ISL=y
CT_CLOOG=y
CT_MPC=y
CT_GMP_V_5_1_1=y
CT_GMP_VERSION="5.1.1"
CT_MPFR_V_3_1_2=y
CT_MPFR_VERSION="3.1.2"
CT_ISL_V_0_11_1=y
CT_ISL_VERSION="0.11.1"
CT_CLOOG_V_0_18_0=y
CT_CLOOG_VERSION="0.18.0"
CT_CLOOG_0_18_or_later=y
CT_MPC_V_1_0_1=y
CT_MPC_VERSION="1.0.1"

#CT_DEBUG_CT=y
#CT_DEBUG_CT_SAVE_STEPS=y
#CT_DEBUG_CT_SAVE_STEPS_GZIP=y
